# Dependencies (This is the most important part)
# Prevents the massive node_modules folder from being uploaded.
/node_modules

# Vercel-specific output
# The folder created during local development with `vercel dev`.
.vercel

# Environment variables
# This file contains secret keys and should never be on GitHub.
.env
.env.*
!.env.example

# Log files
# Temporary log files created by npm or yarn.
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
# Ignore system-specific hidden files.
.DS_Store
Thumbs.db